TOKEN_CHAT_GPT=
SESSION_KEY=
TOKEN_TELEGRAM=
GOOGLE_APPLICATION_CREDENTIALS=
FILE_XML=
MYSQL_HOST=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_URI=
VOICE_RECOGNIZER_LANGUAGE=
FFMPEG_PATH=
EDAMAM_APP_KEY=
EDAMAM_APP_ID=